src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Person" type="PersonType"/>
  <xs:complexType name="phoneNumbersType">
    <xs:sequence>
      <xs:element name="phoneNumbers" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9911034731"/>
            <xs:enumeration value="9911033478"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="streetName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Name1"/>
            <xs:enumeration value="Name2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="city">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="City1"/>
            <xs:enumeration value="City2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="phoneNumbersType" name="phoneNumbers"/>
      <xs:element type="addressType" name="address" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>